


nav {
    display: flex;
    justify-content: space-between;
    margin: 5px 80px;
}
.title {
    
    width: 128px;
    height: 33px;
}
#bar {
    height: 10px;
    color: #0D1321;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    background-image: url(../assets/Hero-bg.png);
    
}
.image-border {
    width: 240px;
    height: 240px;
    margin: 30px 500px;
}
.subtitle {
    margin-left: 400px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;

}
#btn {
    background-color: #0D1321;
    color: white;
    border-radius: 6px;
    padding: 5px;
    width: 140px;
    height: 42px;
   margin-left:  520px;
}
.container-2 {
    margin-left: 10px;
    width: 1210px;
    height: 1180px;
    box-shadow: 5px 8px 15px darkgray;
}

.heading {
    margin: 80px 400px;
    width: 500px;
    padding: 50px;
}
.description {
  width: 830px;
  height: 50px;
  margin-left: -90px;
}
/* section-2 start here */

.group-1 {
    display: flex;
    justify-content: space-between;
    box-shadow: wheat;
}
.left-side {
    width: 300px;
    height: 100px;
    margin-left: 170px;
}
.primary {
    width: 90px;
    height: 30px;
    border-radius: none;

}
.imagesd {
    margin-left: -500px;
    height: 200px;
}
/* group-2 start */
 .group-2 {
    display: flex;
    justify-content: space-between;
 }
.pro-pic {
    margin-left: 200px;
    margin-top: 100px;
}
.right-side{
    width: 300px;
    height: 100px;
    margin-right: 300px;
    margin-top: 100px;
}
/* group-3 start */
.top-side {
    width: 380px;
    height: 100px;
    margin-top: 100px;
    margin-left: 170px;
}
.last-img {
    margin-top: 100px;
    margin-left: -500px;
}

/* section-2 */
.box-border {
    gap: 5px;
    padding: 20px;
    margin: 50px 50px;
    width: 1100px;
    height: 740px;
    box-shadow: 10px 12px 15px cadetblue;
}
.nav-title {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-left: 400px;
}
.def {
    
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 300px;
}
.video-tag {
    border-radius: 16px;
    margin-top: 0px;
    margin-left: 50px;
    
}
