
/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
} */

nav {
    padding: 3px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
   
}
.title {
    font-family: "Azeret Mono", monospace;
    width: 128px;
    height: 33px;
}
.btn {
    opacity: 100%;
    font-size: 15px;
    text-align: center;
    width: 170px;
    height: 50px;
    color: #0D1321;
    font-family: "Azeret Mono", monospace;
}
.container {
    width: 1440px;
    height: 502px;
    background-image: url(../assets/Hero-bg.png);
    
}
.image-border {
    width: 240px;
    height: 240px;
    margin: 30px 500px;
}
.subtitle {
    margin-left: 380px;
    font-family: "Azeret Mono", monospace;
    align-items: center;
    
}
#btn {
    background-color: #0D1321;
    color: white;
    border-radius: 6px;
    padding: 5px;
    width: 140px;
    height: 42px;
   margin-left:  520px;
}
/* why web development section */
.container-2 {
    border-radius: 20px;
    width: 1140px;
    height: 1393px;
    padding: 50px;
    box-shadow: 10px 12px 15px cadetblue;
}
.contented {
    padding: 40px;
    width: 946px;
    height: 1233px;
}
.heading {
    width: 900px;
    height: 37px;
    font-size: 32px;
    text-align: center;
    font-family: "Azeret Mono", monospace;
}
 .description {
    width: 852px;
    height: 52px;
    align-items: center;
    text-align: center; 
} 
/* section-2 start here */

.group-1 {
    display: flex;
    justify-content: space-between;
    box-shadow: wheat;
    margin: 20px 100px;
   
}
.left-side {
    font-family: "Azeret Mono", monospace;
    width: 300px;
    height: 100px;
    text-align: start;
     margin-top: 100px;
}
.imagesd {
    margin-right: 50px 500px;
    margin-top: 100px;
    width: 270px;
    height: 240px;
}
.primary {
    width: 90px;
    height: 30px;
    border-radius: none;

}
/* group-2 start */
.pro-pic {
    margin-left: -10px;
    margin-top: 100px;
}
.right-side{
    font-family: "Azeret Mono", monospace;
    width: 300px;
    height: 100px;
    margin-right: 10px;
    margin-top: 100px;
}
.btn-primary {
    width: 100px;
    height: 30px;
}
/* group-3 start */
.top-side {
    font-family: "Azeret Mono", monospace;
    width: 300px;
    height: 100px;
    margin-top: 100px;
    margin-left: -10px;
}
.last-img {
    margin-top: 100px;
    margin-left: -100px;
}

/* section-2 */
.box-border {
   
    padding: 20px;
    margin: 50px 50px;
    width: 1100px;
    height: 740px;
    box-shadow: 10px 12px 15px cadetblue;
}
.nav-title {
    font-family: "Azeret Mono", monospace;
    padding: 10px;
    margin-left: 400px;
}
.def {
    
    font-family: "Azeret Mono", monospace;
    margin-left: 300px;
}
.video-tag {
    border-radius: 16px;
    margin-top: 0px;
    margin-left: 50px;
    
}
/* main-content section start here */
.main-content {
    padding: 20px;
    box-shadow: 10px 12px 15px cadetblue;
    width: 1100px;
    height: 450px;
}
.tecnical {
    font-family: "Azeret Mono", monospace;
    margin-left: 400px;
}
.dadicated {
    text-align: center;
}
/* main-content section end here */
.best-project {
    display: flex;
    margin-right: 30px 100px;
}
.title-bar {
    padding: 30px;
    width: 366px;
    height: 300px;
}

.support-form {
    background-image: url(../assets/handshake.jpg);
}
.need {
    margin-top: 10px;
    margin-left: 200px;
    width: 940px;
    height: 515px;
    text-align: center;
}
.input-form {
    padding: 10px;
    border-radius: 8px;
    width: 540px;
    height: 40px;
}
#boom {
    margin: 10px;
    font-size: 20px;
    width: 100px;
    height: 50px;
}
.foot{
    display: flex;
    justify-content: space-between;
    width: 1320px;
    height: 60px;
    border: 1px solid gray;
    padding: 3px;
}
.picture {
    margin-top: 20px 40px;
    gap: 20px;
}