
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
} 

nav {
    padding: 3px;
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
}
.title {
    font-family: "Azeret Mono", monospace;
    width: 128px;
    height: 33px;
 
}
.btn {
    opacity: 100%;
    font-size: 15px;
    text-align: center;
    width: 170px;
    height: 50px;
    color: #0D1321;
    font-family: "Azeret Mono", monospace;
   
}
.container {
    width: 100%;
    height: 522px;
    background-image: url(../assets/Hero-bg.png);
    position: relative;
}
.img-container{
    position: absolute;
    margin: 0 auto;
    top: 10%;
    left: 45%;
}
.images {
    width: 240px;
    height: 240px;

}
.targed {
    position: absolute;
    margin: 0 auto;
    top: 60%;
    left: 30%;
 
}
.subtitle {
    padding: 10px;
    font-family: "Azeret Mono", monospace;
    text-align: center; 
}
#btn {
    position: absolute;
   
    left: 30%;
    background-color: #0D1321;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 10px;
    width: 140px;
    height: 42px;
   
}
/* why web development section */
.container-2 {
    width: 100%;
    position: relative;
    box-shadow: 4px 5px 6px gray;
}
.contented {
    margin-left: 200px;
    padding: 40px;
    width: 946px;
    height: 1233px;
    left: 50%;
}
.heading {
    padding: 10px;
    font-size: 32px;
    text-align: center;
    font-family: "Azeret Mono", monospace;
}
 .description {
    font-size: small;
    color:rgb(13, 19, 33);
    text-align: center; 
} 
/* section-2 start here */

.group-1 {
    display: flex;
    justify-content: space-between;
    box-shadow: wheat;
    margin: 20px 100px;
   
}
.left-side {
    font-family: "Azeret Mono", monospace;
    width: 300px;
    height: 100px;
    text-align: start;
     margin-top: 100px;
}
.imagesd {
    margin-right: 50px 500px;
    margin-top: 100px;
    width: 270px;
    height: 240px;
}
.primary {
    width: 90px;
    height: 30px;
    border-radius: none;

}
/* group-2 start */
.pro-pic {
    margin-left: -10px;
    margin-top: 100px;
}
.right-side{
    font-family: "Azeret Mono", monospace;
    width: 300px;
    height: 100px;
    margin-right: 10px;
    margin-top: 100px;
}
.btn-primary {
    width: 100px;
    height: 30px;
}
/* group-3 start */
.top-side {
    font-family: "Azeret Mono", monospace;
    width: 300px;
    height: 100px;
    margin-top: 100px;
    margin-left: -10px;
}
.last-img {
    margin-top: 100px;
    margin-left: -100px;
}

/* section-2 */
.box-border {
    height: 700px;
    position: relative;
    
    box-shadow: 5px 12px 15px cadetblue;
}
.box-title{
    top: 10%;
    left: 35%;
    position: absolute;

}

.font{
    font-size: 30px;
    font-family: "Azeret Mono", monospace;
    text-align: center;
    padding: 10px;
}
.fonti{
    font-size: 15px;
    font-family: "Azeret Mono", monospace;
    text-align: center;
    padding: 10px;
    color: rgb(13, 19, 33)
}
.video{
    position: absolute;
    left: 15%;
    top: 30%;
    width: 1000px;
    height: 500px;
   
}
.video-tag {
    position: absolute;
    right: 10%;
    width: 80%;
    border-radius: 10px;

    
}
/* main-content section start here */
.main-content {
    padding: 20px;
    box-shadow: 10px 12px 15px cadetblue;
    width: 1400px;
    height: 450px;
    margin-left: 20px;
}
.tecnical {
    font-family: "Azeret Mono", monospace;
    margin-left: 400px;
}
.dadicated {
    text-align: center;
}
/* main-content section end here */
.best-project {
    display: flex;
    margin-right: 30px 100px;
}
.title-bar {
    padding: 30px;
    width: 366px;
    height: 300px;
}

.support-form {
    background-image: url(../assets/handshake.jpg);
}
.need {
    margin-top: 10px;
    margin-left: 200px;
    width: 940px;
    height: 515px;
    text-align: center;
}
.input-form {
    padding: 10px;
    border-radius: 8px;
    width: 540px;
    height: 40px;
}
#boom {
    margin: 10px;
    font-size: 20px;
    width: 100px;
    height: 50px;
}
.foot{
    display: flex;
    justify-content: space-between;
    width: 1320px;
    height: 60px;
    border: 1px solid gray;
    padding: 3px;
}
.picture {
    margin-top: 20px 40px;
    gap: 20px;
}